# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Airbnb JavaScript Style Guide
# https://github.com/airbnb/javascript#whitespace
[*.{js,json}]
indent_style = space
indent_size = 2